@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/**{*/
/*    border: 1px solid red;*/
/*}*/



/* MAIN COLOR */

:root {
    --black:#171718;
    --black-border: #171718;
    --white: #fff;
    --green: #24af24;
    --gray: #424242;

    --text-color: var(--black);
    --gray-bg:  var(--gray);
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--green);
}

html, body {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;
    color: var(--text-color);
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}


/* NAVIGATION */

.nav {
    padding: 20px 0;
    border-bottom: 1px solid var(--dark-border);
    background-color: var(--dark-bg);
    color: var(--header-text);
    letter-spacing: normal;


}


.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}


/* LOGO */

.logo {
  color: var(--header-text);
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.logo:hover {
  background: linear-gradient(45deg, var(--accent), #006400);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: gradientAnimation 4s linear infinite; /* Длительность 4 секунды, вы можете изменить это значение по своему усмотрению */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



/* BUTTON LIST */

.nav-list{
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}


.nav-list__link{
    color: var(--header-text);
    transition: opacity 0.2s ease-in;
}
.nav-list__link:hover{
    opacity: 0.8;
}


.nav-list__link--active{
position: relative;
}

.nav-list__link--active::before{
    content: "";

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}


/* HEADER */

.header{
    padding: 40px 0;
    min-height: 695px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-bg);
    background-image: url("./../img/header-bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    color: var(--header-text);
    text-align: center;
}


.header__wrapper{
    padding: 0 15px;
    max-width: 660px;
}

.header__title{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}
.header__title strong {
    font-size: 60px;
    font-weight: 700;
}
.header__title em {
    font-style: normal;
    color: var(--accent);
}

.header__text{
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;
}
.header__text p +p {
    margin-top: 1em;

}



/* BUTTON */

.btn{
    display: inline-block;
    height: 48px;
    padding: 12px 28px;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;

    transition: opacity 0.3s ease-in;

}

.btn:hover {
    opacity: 0.8;
}

.btn:active{
    position: relative;
    top: 1px;
}



/* GENERAL  */

.section{
    padding: 70px 0;
    background-color: #dedede;
}


.title-1{
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--accent);
    text-align: center;
}

/* PROJECTS  */


.projects{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;

}


/* Project */

.project{
    max-width: 370px;
    background-color: var(--white);
    box-shadow: 0px 5px 35px rgba(0,0,0,0.25);
    border-radius: 10px;

}

.project__img{
    border-radius: 10px;

}

.project__title{
    padding: 15px 20px 25px;
    font-weight: 700;
    font-size: 24px;
    letter-size: 24px;
    line-height: 1.3;
    color: var(--text-color);
}


/* FOOTER */


.footer{
    background-color: var(--dark-bg);
    padding: 60px 0 50px;
    color: var(--header-text);


}

.footer__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}

.social{
    display: flex;
    column-gap: 30px;
    align-items: center;

}

.social__item{

}

.copyright{

}





