@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');




/* MAIN COLOR */

:root {
    --black:#171718;
    --black-border: #171718;
    --white: #fff;
    --green: #24af24;
    --gray: #424242;

    --text-color: var(--black);
    --gray-bg:  var(--gray);
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--green);

    /* Light mode */
    --page-bg: var(--white);
    --text-color: var(--black);

    --title-1: var(--accent);

    --project-card-bg: var(--white);
    --project-card-text: var(--black);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.dark {
    /* Dark mode */
    --page-bg: var(--black);
    --text-color: var(--white);

    --title-1: var(--white);

    --project-card-bg: var(--black);
    --project-card-text: var(--white);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}
/* Цвет темного режима  */
.dark{
    background: #293238;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;

    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;

    /* Light mode */
    background-color: var(--page-bg);
    color: var(--text-color);
    
    width: 100%;
    margin: 0;
    background-color: #fff;
}



.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;

}
.none {
    display: none !important;
}

.section {
    padding: 70px 0;
}

.title-1 {
    margin-bottom: 60px;

    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--title-1);
    text-align: center;
}

.title-2 {
    margin-bottom: 20px;

    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}



/* NAVIGATION */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 10px 0;
    border-bottom: 1px solid var(--dark-border);
    background-color: var(--dark-bg);
    color: var(--header-text);
    letter-spacing: normal;


}


.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}


/* LOGO */

.logo {
    margin-right: auto;
    color: var(--header-text);
    font-size: 24px;
    font-family: 'Poppins', sans-serif;

}

.logo strong {
    font-weight: 700;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.nav-list__link {
    color: var(--header-text);
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}

.logo:hover {
    background: linear-gradient(45deg, var(--accent), #006400);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 4s linear infinite; /* Длительность 4 секунды, вы можете изменить это значение по своему усмотрению */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



/* BUTTON LIST */

.nav-list{
    flex-wrap: wrap;
    display: flex;
    row-gap: 10px;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}



/* DARK MODE */

.dark-mode-btn {
    order: 9;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 51px;
    height: 26px;
    padding: 5px;

    border-radius: 50px;
    background-color: #272727;
}

.dark-mode-btn::before {
    content: "";

    position: absolute;
    top: 1px;
    left: 1px;

    display: block;
    width: 24px;
    height: 24px;
    align-items: center;
    border-radius: 50%;
    background-color: var(--white);

    transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
    left: 26px;
}

.dark-mode-btn__icon {
    position: relative;
    z-index: 9;
}






/* HEADER */

.header{
    padding: 40px 0;
    min-height: 800px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--gray-bg);
    /* background-image: url("./../img/header-bg.png"); */
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    color: var(--header-text);
    text-align: center;
}


.header__wrapper{
    padding: 0 15px;
    max-width: 660px;
}

.header__title{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    color: var(--white);
}
.header__title strong {
    font-size: 60px;
    font-weight: 700;
    color: var(--white);
}
.header__title em {
    font-style: normal;
    color: var(--accent);
}

.header__text{
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;
    color: var(--white);
}
.header__text p +p {
    margin-top: 0.5em;

}



/* BUTTON */

.btn{
    display: inline-block;
    height: 48px;
    padding: 12px 28px;

    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;


    transition: opacity 0.3s ease-in;

}

.btn:hover {
    opacity: 0.8;
}

.btn:active{
    position: relative;
    top: 1px;
}



/* GENERAL  */

.section{
    padding: 70px 0;
    background-color: inherit;
}


.title-1{
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--accent);
    text-align: center;
}

/* PROJECTS  */


.projects{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;

}


/* Project */

.project{
    max-width: 370px;
    background-color: #ffffff42;
    border-radius: 10px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25)

}


.project__img{
    border-radius: 10px;

}

.project__title{
    padding: 15px 20px 25px;
    font-weight: 700;
    font-size: 24px;
    letter-size: 24px;
    line-height: 1.3;
    color: var(--text-color);
}


/* FOOTER */


.footer{
    background-color: var(--dark-bg);
    padding: 60px 0 50px;
    color: var(--header-text);


}

.footer__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}

.social{
    display: flex;
    column-gap: 30px;
    align-items: center;

}

.social__item{

}

.copyright{

}




/* CALCULATOR */



body {
    background-color: #dedede;
    background-image: url("./../img/header-bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}

.calculator-wrapper {
    display: flow-root;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table-kalkulator {
    width: 100%;
    max-width: 1000px;
    height: 660px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}



.text-center-title-h3{


    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--accent);
    text-align: center;
}

.text-center {
    text-align: center;
}

.title-h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 8px;
    border: 1px solid #000;
}

.form-check {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-check-input {
    margin-right: 5px;
}

.input-group {
    display: inline-flex;
    align-items: center;
    border: 1px solid green;
    border-radius: 10px;
}

.input-group input {
    flex: 1;
    padding: 6px;
}

.btn-primary {
    background-color: var(--accent);
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}





/* PAGE SKILLS*/

.content-list{
    margin: 0 auto;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
}

.content-list a {
    color: var(--accent);
}


.content-list__item{
    font-size: 18px;
    line-height: 1.5;

}

content-list__item p + p {
    margin-top: 0.5em;
}

.title-2{
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: 700;
}



/*contact */

body {
    background: #dedede;
}

.wrapper {
    width: 90%;
    max-width: 500px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
}

form input,
form textarea {
    width: 100%;
    outline: none;
    border: 1px solid #fff;
    padding: 10px 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #e4e4e4;
}

button {
    font-size: 1rem;
    padding: 10px 0;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 100%;
    color: #ffffff;
    cursor: pointer;
    background: var(--accent);
}

input:focus {
    border: 1px solid rgb(192, 192, 192);
}

.member {
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}

.recover {
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}

.recover a {
    text-decoration: none;
    color: #464646;
}

.row-wrapper{
    width: 100%;
    height: auto;
}
@media screen and (min-width: 768px) {
    .wrapper {
        width: 60%;
        max-width: 800px;
        margin: 50px auto;
    }

    form input,
    form textarea {
        width: 100%;
    }
}




/* pProject page */

.project-details{
    margin: 0 auto;
    max-width: 865px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.project-details__cover{
    max-width: 100%;
    margin-bottom: 40px;


    box-shadow: 0px 5px 35px rgba(0,0,0,0.25);
    border-radius: 10px;
}

.project-details_desc{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
}

.btn-outline{
    height: 48px;
    border-radius: 5px;
    padding: 12px 20px;

    border: 1px solid #000;
    color: var(--accent);

    display: flex;
    column-gap: 10px;
    align-items: center;
    transition: opacity 02s ease-in;

}

btn-outline:hover{
    opacity: 0.8;
}
btn-outline:active{
    position: relative;
    top: 1px;
}

/*  MOBILE */

@media (max-width: 620px) {

    /* Header  */

    .header {
        min-height: unset;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 40px;
    }

    /* Nav */

    .nav-row {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 30px;
        row-gap: 20px;
        flex-wrap: wrap;
    }



    /* General */

    .section {
        padding: 40px 0;
    }

    .title-1 {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .title-2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    /* Projects */

    .project__title {
        font-size: 22px;
    }

    /* Project page */

    .project-details__desc {
        margin-bottom: 20px;
        font-size: 22px;
    }

    /* Content List */

    .content-list {
        row-gap: 20px;
    }

    .content-list__item {
        font-size: 16px;
    }

    /* Footer */

    .footer {
        padding: 40px 0 30px;
    }

    .footer__wrapper {
        row-gap: 20px;
    }

    /* Social */

    .social {
        column-gap: 20px;
    }

    .social__item {
        width: 28px;
    }

    /* kalkulator */
    .table-kalkulator {
        width: 90%; /* Ширина калькулятора при ширине экрана до 768px */
        margin: 20px auto;
    }
}


/* DARK MODE */







.text-center-title-h3{
    margin: 0;
}
.wrapper {
    background-color: #ffffffa3;
}
.text-center-title-h3 , .calculator-wrapper , .table-kalkulator , .row-wrapper{
    background-color: inherit;
}



/* main anim */

.anim-row{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 2%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #293238;
}
.animation-wrapper{
    z-index: 1;
    width: 42%;
}
.header{
    position: relative;
}
.header__wrapper{
    z-index: 3;
}
.animation-wrapper {
height: 700px;
padding-bottom: 50%;
position: relative;
}

.sphere-animation {
position: absolute;
top: 45%;
left: 50%;
width: 600px;
height: 600px;
margin: -290px 0 0 -290px;
}

.sphere path {
fill: url(#sphereGradient);
stroke-width: 1px;
stroke: rgba(80,80,80,.35);
backface-visibility: hidden;
}
.sphere-animation{
transform: scale(1) !important;
}



@media (min-width: 500px) {
.sphere path {
    stroke-width: .4px;
}
}
@media (min-width: 2000px) {
.header{
    min-height: 950px;
}
.sphere-animation{
    top: 45%;
    transform: scale(1.25) !important;
    }

}
@media (min-width: 2500px) {
.header{
    min-height: 1000px;
}
.sphere-animation{
    top: 43%;
    transform: scale(1.38) !important;
    }
    
}



.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    text-align: center;
    background-color: var(--white);
    padding: 40px;
    border-radius: 10px;
}